html, body{
    margin:0;
    padding:0;
}

ul{
    list-style-type:none;
}
header{
    margin: auto;
    width:200px;
    height:40px;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

#homePage ul{
    position: relative;
    height:200px;
    width:200px;
    margin:auto;
    margin-top:40px;
}

#check-in{
    position: absolute;
    height:80px;
    width:80px;
    border-radius:50%;
    border: 2px solid white;
    top:70px;
    left:80px;
    background-color: #eaeaea;
}

#check-in:hover{
    background-color: #f8f8f8;
    cursor:pointer;
}

#check-in > a{
    position: relative;
    display: block;
    height:80px;
    width:80px;
    border-radius:50%;
}


#check-in > a > i{
    position: absolute;
    top:15px;
    left:20px;
}

#check-in > a > h6{
    position: absolute;
    top:38px;
    left:20px;
}


#me{
    position: absolute;
    height:120px;
    width:120px;
    border-radius: 100% 0 0 0;
    border: 1px solid #feaa00;
    background-color: #feaa00;
    top:-12px;
    left:-2px;
}

#me:hover{
    opacity:0.8;
    cursor:pointer;
}

#me > a{
    position: relative;
    display: block;
    height:120px;
    width:120px;
    border-radius: 100% 0 0 0;
}

#me > a > i{
    position: absolute;
    top:33px;
    left:50px;
}

#me > a > h6{
    position: absolute;
    top:55px;
    left:60px;
}


#set-up{
    position: absolute;
    height:120px;
    width:120px;
    border-radius:0 100% 0 0;
    border: 1px solid #de3525;
    background-color: #de3525;
    top:-12px;
    left:122px;
}

#set-up:hover{
    opacity:0.8;
    cursor:pointer;
}
#set-up > a{
    position: relative;
    display: block;
    height:120px;
    width:120px;
    border-radius:0 100% 0 0;
}
#set-up > a > i{
    position: absolute;
    top:30px;
    left:20px;
}

#set-up > a > h6{
    position: absolute;
    top:55px;
    left:30px;
}

#monitor{
    position: absolute;
    height:120px;
    width:120px;
    border-radius: 0 0 0 100%;
    border: 1px solid #0db057;
    background-color: #0db057;
    top:112px;
    left:-2px;
}

#monitor:hover{
    opacity: 0.8;
    cursor:pointer;
}

#monitor > a{
    position: relative;
    display: block;
    height:120px;
    width:120px;
    border-radius: 0 0 0 100%;
}

#monitor > a > i{
    position: absolute;
    top:26px;
    left:40px;
}

#monitor > a > h6{
    position: absolute;
    top:52px;
    left:50px;
}

#reports{
    position: absolute;
    height:120px;
    width:120px;
    border-radius:0 0 100% 0;
    border: 1px solid #1154f8;
    background-color: #1154f8;
    top:112px;
    left:122px;
}

#reports:hover{
    opacity: 0.8;
    cursor:pointer;
}


#reports > a{
    position: relative;
    display: block;
    height:120px;
    width:120px;
    border-radius:0 0 100% 0;
}

#reports > a > i{
    position: absolute;
    top:28px;
    left:30px;
}

#reports > a > h6{
    position: absolute;
    top:52px;
    left:30px;
}

#screen2{
    background-color: white;
}

#screen2Header{
    position: relative;
    margin:0;
    padding:0;
    margin-top:10px;
    width:100%;
}


#screen2Header ul{
    padding:0;
    margin:0;
}

.backHome{
    position: absolute;
    top: 0;
    left: 30px;
}

.backHome:hover{
    cursor:pointer;
}
#screen2 #clearOption{
    position: absolute;
    top: 20px;
    right: 25px;
}
#screen2 #clearOption:hover{
    cursor:pointer;
}

#screen2 #tasksList{
    border: 2px solid black;
    margin: 20px;
    margin-top: 5px;
    padding: 5px;
    background-color: #c3c3c3;
}

#innerTasksList{
    height:140px;
    overflow:auto;
}

#screen2 #tasksList ul{
    padding:5px;
    background-color: #FFF;
    margin-bottom:5px;
}
#screen2 #tasksList ul:last-child{
    margin-bottom: 0;
}

#screen2 .name{

}
#screen2 .company{
    display:inline;
    margin-right:20px;
}
#screen2 .department{
    display:inline;
}

#screen2 #addMore{
    text-align: right;
}
#screen2 #addMore i:hover{
    cursor: pointer;
    background-color: #b5b5b5;
}


