html, body{
    margin:0;
    padding:0;
}

html{
    height: 100%;
}

ul{
    list-style-type:none;
}
header{
    margin: auto;
    width:200px;
    height:40px;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

#homePage ul{
    position: relative;
    height:200px;
    width:200px;
    margin:auto;
    margin-top:40px;
}

#check-in{
    position: absolute;
    height:80px;
    width:80px;
    border-radius:50%;
    border: 2px solid white;
    top:70px;
    left:80px;
    background-color: #eaeaea;
}

#check-in:hover{
    background-color: #f8f8f8;
    cursor:pointer;
}

#check-in > a{
    position: relative;
    display: block;
    height:80px;
    width:80px;
    border-radius:50%;
}


#check-in > a > i{
    position: absolute;
    top:15px;
    left:20px;
}

#check-in > a > h6{
    position: absolute;
    top:38px;
    left:20px;
}


#me{
    position: absolute;
    height:120px;
    width:120px;
    border-radius: 100% 0 0 0;
    border: 1px solid #feaa00;
    background-color: #feaa00;
    top:-12px;
    left:-2px;
}

#me:hover{
    opacity:0.8;
    cursor:pointer;
}

#me > a{
    position: relative;
    display: block;
    height:120px;
    width:120px;
    border-radius: 100% 0 0 0;
}

#me > a > i{
    position: absolute;
    top:33px;
    left:50px;
}

#me > a > h6{
    position: absolute;
    top:55px;
    left:60px;
}


#set-up{
    position: absolute;
    height:120px;
    width:120px;
    border-radius:0 100% 0 0;
    border: 1px solid #de3525;
    background-color: #de3525;
    top:-12px;
    left:122px;
}

#set-up:hover{
    opacity:0.8;
    cursor:pointer;
}
#set-up > a{
    position: relative;
    display: block;
    height:120px;
    width:120px;
    border-radius:0 100% 0 0;
}
#set-up > a > i{
    position: absolute;
    top:30px;
    left:20px;
}

#set-up > a > h6{
    position: absolute;
    top:55px;
    left:30px;
}

#monitor{
    position: absolute;
    height:120px;
    width:120px;
    border-radius: 0 0 0 100%;
    border: 1px solid #0db057;
    background-color: #0db057;
    top:112px;
    left:-2px;
}

#monitor:hover{
    opacity: 0.8;
    cursor:pointer;
}

#monitor > a{
    position: relative;
    display: block;
    height:120px;
    width:120px;
    border-radius: 0 0 0 100%;
}

#monitor > a > i{
    position: absolute;
    top:26px;
    left:40px;
}

#monitor > a > h6{
    position: absolute;
    top:52px;
    left:50px;
}

#reports{
    position: absolute;
    height:120px;
    width:120px;
    border-radius:0 0 100% 0;
    border: 1px solid #1154f8;
    background-color: #1154f8;
    top:112px;
    left:122px;
}

#reports:hover{
    opacity: 0.8;
    cursor:pointer;
}


#reports > a{
    position: relative;
    display: block;
    height:120px;
    width:120px;
    border-radius:0 0 100% 0;
}

#reports > a > i{
    position: absolute;
    top:28px;
    left:30px;
}

#reports > a > h6{
    position: absolute;
    top:52px;
    left:30px;
}

#screen2{
    height:100%;
}

#screen2Header{
    margin:0;
    padding:0;
    margin-top:10px;
    width:100%;
}


#screen2Header ul{
    padding:0;
    margin:0;

}

#screen2 .backHome{
    display:inline;
    margin-right:65%;
}

#screen2 .backHome:hover{
    cursor:pointer;
}
#screen2 #clearOption{
    display:inline;
}
#screen2 #clearOption:hover{
    cursor:pointer;
}

#screen2 #tasksList{
    border: 2px solid black;
    margin: 5px 5% 5px 5%;
    padding: 5px;
    background-color: #c3c3c3;
}

#innerTasksList{
    height:140px;
    overflow:auto;
}

#screen2 #tasksList ul{
    padding:5px;
    background-color: #FFF;
    margin-bottom:5px;
}
#screen2 #tasksList ul:last-child{
    margin-bottom: 0;
}

#screen2 .name{

}
#screen2 .company{
    display:inline;
    margin-right:20px;
}
#screen2 .department{
    display:inline;
}

#screen2 #addMore{
    text-align: right;
}
#screen2 #addMore i:hover{
    cursor: pointer;
    background-color: #b5b5b5;
}


#manuallog{
    margin-bottom: 5px;
    margin-top:5px;
    text-align: center;
    color:gray;
}

#startbtn{
    /*padding not working*/
    font-size:80%;
    width:45%;
    margin-left:5%;
}
#endbtn{
    font-size:80%;
    width:45%;
    margin-right:5%;
}

#screen2 #upSection{
    background-color: white;
    height:70%;
}
#screen2 #downSection{
    background-color: #808090;
    height:30%;
    padding-top:20px;
    text-align: center;
}

#screen2 #checkin a{
    display:block;
    text-decoration: none;
    height:80%;
    width:80%;
    border-radius: 50%;
    border:1px solid #f1f1f1;
    position:relative;
    top:8%;
    left:8%;
    color: #f1f1f1;
}

#screen2 #checkin{
    position: absolute;
    background-color: #d2d2d2;
    width:60px;
    height:60px;
    border-radius: 50%;
    top:65%;
    left:calc(50% - 30px);
}

#innerCheckin{
    top:35%;
    left:8%;
    position: absolute;
}

#chosenName{
    position:absolute;
    bottom:0px;
    left:25%;
}
#chosenDate{
    position:absolute;
    bottom:-20px;
    left:25%;
}
#chosenTime{
    position:absolute;
    bottom:-20px;
    left:60%
}

#screen3{
    height:100%;
}

#screen3 header{
    height:10%;
    width:100%;
    margin:0;
    padding:10% 0 0 0;
}

#screen3 #backHome{
    position: absolute;
    left:5%;
    top:3%;
}

#screen3 header > ul{
    margin:0;
    padding:0;
}


#profile{
    height:60%;
    width:100%;
}

#availability{
    position:relative;
    height:10%;
    width:100%;
    border: 1px solid gray;
}
#availability .fa-calendar{
    top: calc(50% - 12px);
    position:absolute;
    left: 5%;
}
#availability h4{
    top: calc(50% - 6.5px);
    left:15%;
    padding:0;
    margin:0;
    position:absolute;
}
#availability .fa-chevron-right{
    top: calc(50% - 10px);
    right:5%;
    position:absolute;
}

#notification{
    position: relative;
    height:10%;
    width:100%;
    border:1px solid gray;
}

#notification p{
    position: absolute;
    padding:0;
    width:70%;
    margin:0;
    font-size:10px;
    top: calc(50% - 12px);
    left: calc(16px + 10%);
}

#notification .fa-bell-o{
    position: absolute;
    top: calc(50% - 12px);
    left: 5%;
}

#notification .fa-toggle-off{
    position: absolute;
    top: calc(50% - 12px);
    right: 19px;

}

#screen3 #photoArea{
    background-color: #c0c0c0;
    width:90%;
    height:50%;
    margin:auto;
    position: relative;
}

#screen3 #photoArea .fa-camera-retro{
    position: absolute;
    top:calc(50% - 24px);
    left:calc(50% - 24px);
}

#screen3 #name{
    margin:8% 15% 8% 15%;
}


#screen3 #email{
    margin:8% 15% 8% 15%;
}


#screen3 #phoneNum{
    margin:8% 15% 8% 15%;
}

#screen4{
    height:100%;
}

#screen4 #backHome{
    position: absolute;
    left:5%;
    top:3%;
}


#screen4 header{
    height:10%;
    width:100%;
    margin:0;
    padding:10% 0 0 0;
}

#screen4 header > ul{
    margin:0;
    padding:0;
}

#options{
    height:70%;
}
#screen4 #options ul{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

#screen4 #companies{
    position:relative;
    border-bottom:1px solid black;
    height:15%;
    background-color: #d0d0d0;
}
#screen4 #locations{
    position:relative;
    border-bottom:1px solid black;
    height:15%;
    background-color: #d0d0d0;
}
#screen4 #departments{
    position:relative;
    border-bottom:1px solid black;
    height:15%;
    background-color: #d0d0d0;
}
#screen4 #employees{
    position:relative;
    border-bottom:1px solid black;
    height:15%;
    background-color: #d0d0d0;
}
#screen4 #tasks{
    position:relative;
    height:15%;
    background-color: #d0d0d0;
}

#screen4 .icon{
    position: absolute;
    left:3%;
    top:40%;
}

#screen4 .optionName{
    position: absolute;
    left: 10%;
    top:40%;
}
#screen4 .num{
    position: absolute;
    right:10%;
    top:40%;
}
#screen4 .arrow{
    position: absolute;
    right:3%;
    top:40%;
}
#screen5{
    height: 100%;
}
#screen5 header{
    width:100%;
    height:20%;
    background-color: #ff9d9e;
    margin:0;
}
#screen5 header > ul{
    margin:0;
    padding:0;
}

#screen5 #backHome{
    position: absolute;
    left:5%;
}

#screen5 #searchArea{
    position: absolute;
    top:10%;
    width: 100%;
    height: 6%;
}

#screen5 #searchArea > input{
    width: 90%;
    height:100%;
    padding:0;
    margin:0;
    font-size: 100%;
}

#screen5 #userListArea{
    background-color: #e8e3da;
    height: 80%;
}

#screen5 #userListArea > ul{
    margin: 0;
    padding:0;
    width:100%;
    height: 100%;
}
#screen5 #userListArea > ul > li{
    position: relative;
    height: 10%;
}
#screen5 #userListArea > ul > li > ul{
    height: 100%;
    font-size:80%;
}
#screen5 #userListArea > ul > li:nth-child(even){
    background-color: #c8c8c8;
}

#screen5 #userListArea > ul > li > ul > li:nth-child(1){
    text-decoration: underline;
    position: absolute;
    left:5%;
}
#screen5 #userListArea > ul > li > ul > li:nth-child(2){
    position: absolute;
    left:35%;
}
#screen5 #userListArea > ul > li > ul > li:nth-child(3){
    position: absolute;
    left:75%;
}

#screen5 #userListArea > ul > li > ul > li:nth-child(4){
    position: absolute;
    top:50%;
    left:5%;
}

#screen5 #userListArea > ul > li > ul > li:nth-child(5){
    position: absolute;
    top:50%;
    left:35%;
}

#screen5 #userListArea > ul > li > ul > li:nth-child(6){
    position: absolute;
    top:50%;
    left:75%;
}


#screen6{
    height:100%;
    width:100%;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#screen6 header{
    position:relative;
    width:100%;
    margin:0;
    height:10%;
    z-index: 1;
    background-color: #f6f6f6;
}

#screen6 ul{
    margin:0;
    padding:0;
}

#screen6 #backHome{
    position: absolute;
    top:10px;
    left:10px;
}

#screen6 #backHome:hover{
    cursor:pointer;
}

#screen6 #searchArea{
    font-size: 20px;
    top:20px;
    position:relative;
}

#screen6 #companyInfo{
    height:90%;
    max-width:100%;
    position: relative;
}

#screen6 #companyNameList{
    position: absolute;
    left:-250px;
    top:-250px;
}

#screen6 #companyDetailList{
    position: absolute;
    right:-250px;
    bottom:-250px;
}

#screen6 .circle{
    border:100px solid white;
    padding:0;
    list-style-type: none;
    position: relative;
    width:300px;
    height:300px;
    border-radius:50%;
    background: -webkit-radial-gradient(white, white, #acacac); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(white, white, #acacac); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(white, white, #acacac); /* For Firefox 3.6 to 15 */
    background: radial-gradient(white, white, #acacac); /* Standard syntax */
    transform-origin: 50% 50%;
}

#screen6 .circle:hover{
    cursor:pointer;
}
#screen6 .circle li{
    font-size: 25px;
    position: absolute;
}
#screen6 .circle li:nth-child(1){
    top:-80px;
    left:35%;
    transform:rotate(-90deg);
}

#screen6 .circle li:nth-child(2){
    top:45%;
    left:310px;
    transform:rotate(0deg);
}
#screen6 .circle li:nth-child(3){
    bottom:-80px;
    left:35%;
    transform:rotate(90deg);
}
#screen6 .circle li:nth-child(4){
    top:45%;
    right:310px;
    transform:rotate(180deg);
}

#screen7{
    height:100%;
}
#screen7 header{
    padding:0;
    margin:0;
    width:100%;
    height: 40px;
    position: relative;
    font-size:80%;
}

#screen7 header > ul{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

#screen7 #saveOption{
    top:30%;
    position: absolute;
    right:5%;
    font-size: 80%;
}

#screen7 #planAvailability {
    left: 50%;
    padding:15px;
    text-align: center;
}

#screen7 #time{
    height:45%;
    color: #a3a3a3;
}

#screen7 #time #outerCircle{
    margin:auto;
    height:250px;
    width:250px;
    border-radius: 50%;
    position: relative;
    padding:0;
}

#screen7 #time #outerCircle li{
    position: absolute;
    margin:0;
    padding:0;
}

#screen7 #time #innerCircle{
    margin:0;
    padding:0;
}


#screen7 #time #innerCircle{
    margin:auto;
    height:150px;
    width:150px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top:calc(125px - 75px);
    left:calc(125px - 75px);
}

#screen7 #month{
    height:45%;
}

#screen7 #day_of_week li{
    width:30px;
    float:left;
}

#screen7 #date li{
    width:30px;
    float:left;
    height:16px;
}
#screen9{
    height:100%;
}
#screen9 header{
    height:10%;
    width:100%;
    margin:0;
}
#screen9 header ul{
    padding:20px 10px 20px 10px;
    background-color: black;
    color:gray;
}

#screen9 header ul li{
    display:inline;
}

#screen9 #backHome{
    float: left;
}

#screen9 #add{
    float: right;
}

#screen9 #topview{
    height:40%;
    min-height: 250px;
    position: relative;
}

#screen9 input{
    display:block;
    position: absolute;
    width:100%;
    top:50%;
    height:15%;
    font-size: 20px;
    text-align: center;
}

#screen9 #bottomview{
    height:40%;
    background-color: black;
    min-height: 250px;
}

#screen9 #goArrow{
    position: absolute;
    top:50%;
    right:5px;
}

#screen9 footer{
    height:10%;
}

#screen9 footer ul{
    padding:0;
    height:100%;
    width:100%;
    margin:0;

}

#screen9 footer li{
    width:20%;
    height:100%;
    float:left;
    background-color: #a0a0a0;
    border-left:1px solid black;
    position: relative;
    padding:10px;
}

#screen9 footer li:hover{
    background-color: #d9d9d9;
    cursor: pointer;
}






